* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #f1e4c8;  /* A soft beige color */
    /* background-image: url('path_to_islamic_pattern.png'); A light Islamic pattern */
    /* background-repeat: repeat; */
}

#prayer-times-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px; /* Increased padding */
    border-radius: 15px;
    margin: 20px auto;
    max-width: 600px; /* Increased max-width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid #DAA520; 
    
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px; /* Increased margin */
}
#prayer-countdown {
    font-size: 24px; /* Adjusted to increase the size of the timer */
    background-color: #f1e4c8;
    padding: 10px 20px; /* Adjusted padding to balance with increased font size */
    border-radius: 5px;
    margin-left: 15px; /* Adjusted margin to balance with increased font size */
    font-weight: bold;
    color: #5d4524;
}

.prayer-times-content h1 {
    font-family: 'Amiri', serif;
    color: #006400;
    font-size: 32px; /* Increased font size */
    border-bottom: 3px solid #DAA520;
    padding-bottom: 10px;
    margin-bottom: 10px; /* Adjusted margin to fit the timer */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#prayer-times-section h4 {
    font-family: 'Amiri', serif;
    text-align: center;
    font-weight: bold;
    color: #006400;
    margin-bottom: 30px;
    font-size: 28px; /* Increased font size */
    border-bottom: 3px solid #DAA520;
    padding-bottom: 15px;
}

#prayer-times-section table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}
.prayer-times-content {
    display: flex; 
    flex-direction: column;
    justify-content: center; /* Vertical centering for flex items */
    align-items: center; /* Horizontal centering for flex items */
    width: 100%;
}


#prayer-times-section th, #prayer-times-section td {
    padding: 12px 20px; /* Increased padding */
    border: 2px solid #806641;
    text-align: left;
    font-size: 20px; /* Increased font size */
}

#prayer-times-section tr:nth-child(odd) {
    background-color: #e6e6e6;
}

#prayer-times-section tr:hover {
    background-color: #DAA520;
    color: #FFFFFF;
}

#prev-day, #next-day {
    padding: 15px 30px; /* Increased padding */
    background-color: #5d4524;
    color: #f1e4c8;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px; /* Increased margin */
    border-radius: 10px;
    font-size: 20px; /* Increased font size */
}

#prev-day:hover, #next-day:hover {
    background-color: #806641;
}
.fadeOut {
    animation: fadeOutEffect 0.5s forwards;
}

.fadeIn {
    animation: fadeInEffect 0.5s forwards;
}

@keyframes fadeOutEffect {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadeInEffect {
    from { opacity: 0; }
    to { opacity: 1; }
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/Khartoum.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 20px;  /* increased right and left padding */
    position:relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 28%;           /* Moved the box higher */
    left: 50%;
    bottom: 20vh;          
    transform: translateX(-50%); 
    text-align: center;
}

.text-box h1 {
    font-size: 55px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 25px;
    color: #fff;
}





.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 12px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa {
    display: none;
}

.text-box div {
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    margin: 15px 0;
    border-radius: 5px;
}

.text-box div h4 {
    margin-bottom: 10px;
    color: #f44336;
}

.text-box div p {
    margin-bottom: 5px;
    color: #fff;
}
footer {
    padding: 10px 0; /* Reduced padding for mobile */
    background: #333;
    color: #f1e4c8;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px; /* Reduced padding for mobile */
}

.footer-content p {
    text-align: center;
    line-height: 1.4; /* Adjusted line height for mobile */
    font-size: 0.8rem; /* Reduced font size for mobile */
}

.social-link {
    color: #f1e4c8;
    margin: 0 5px; /* Reduced margin for mobile */
    transition: color 0.3s;
}

.social-link:hover {
    color: #DAA520;
}

.social-link i {
    margin-right: 3px; /* Reduced icon margin for mobile */
}


.translate-button-container {
    text-align: center;
    padding-top: 20px; /* Add some top padding for space */
}

#translateBtn {
    padding: 15px 30px; /* Increased padding for a larger button */
    border: none;
    border-radius: 20px; /* Adjusted border-radius for a proportionate look */
    background-color: #3498db; 
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px; /* Increased font size for a larger button */
}


#translateBtn:hover {
    background-color: #2980b9; /* Adjust the hover color */
}
iframe {
    width: 100%; 
    height: 60vh; 
    max-height: 100%; 
    border: none;
    overflow: hidden;
    margin-top: -20px; /* Move content up by 20 pixels. Adjust as needed. */
    margin-bottom: 20px;
}


@media(max-width: 1024px) {

    .text-box {
        width: 100%;
        color: #fff;
        position: absolute;
        top: 33%;           /* Moved the box higher */
        left: 50%;
        bottom: 20vh;          
        transform: translateX(-50%); 
        text-align: center;
    }
    iframe {
        width: 100%;  /* This will set the iframe to the full width of its container */
        height: 56.25vw; /* This maintains the 16:9 aspect ratio based on the width. */
    }
    .text-box h1 {
        font-size: 28px;
    }
    #openSidePanel {
        display: block;
        color: white;
        cursor: pointer
    }
    #openSidePanel:hover {
        color: #ddd;  /* This is a slightly darker shade of white for hover effect */
    }
    .text-box p{
        font-size: 20px;
    }

    /* Hide the close button inside the side panel by default */
    .toggle-close {
        display: none;
    }

    /* Show the close button when the side panel is open */
    .nav-links[style*="display: block"] .toggle-close {
        display: block;
    }
    .nav-links ul li {
        list-style: none;
        display: block;   /* Make each list item block level to stack vertically */
        padding: 12px 16px;
        position:relative;
        text-align: left; /* Align text to the left */
    }
    
    .nav-links ul li a {
        color: #fff;
        text-decoration: none;
        /* font-size: 13px; */
        display: block;   /* Make the link fill the entire width of the list item */
        padding: 4px 8px; /* Some padding for better touch targets */
        font-size: 16px;
    }

    .nav-links {
        flex: 1;
        text-align: right;
        display: none;  
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: #000;   /* Set to solid black */
        z-index: 100;
        padding: 30px;
        overflow-y: auto;
    }
    
    

    nav .fa {
        display: block;
        position: absolute;
        top: 27px;
        right: 35px;
        font-size: 22px;
        cursor: pointer;
    }

    nav .fa-times {
        display: none;
    }
    .toggle-close {
        color: #fff;  /* White color */
    }
    #translateBtn {
        padding: 8px 15px; /* Decrease padding for a smaller button */
        border: none;
        border-radius: 15px; /* Adjust border-radius for a slightly rounder button */
        background-color: #3498db; /* A nice shade of blue */
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 14px; /* Decrease font size for a smaller button */
    }
    .hero-btn{
        font-size: 17px;
    }
    
}
@media(min-width: 1025px) {

    #openSidePanel {
        display: none;
    }
    .nav-links {
        display: block !important;
    }
    /* .hero-btn{
        font-size: 13px;
    } */
}
@media (min-width: 768px) and (max-width: 1024px) {
    .text-box {
        width: 100%;
        color: #fff;
        position: absolute;
        top: 33%;           /* Moved the box higher */
        left: 50%;
        bottom: 20vh;          
        transform: translateX(-50%); 
        text-align: center;
    }
    .text-box h1 {
        font-size: 48px; /* Adjust this value based on your preference */
    }

    .text-box p {
        font-size: 18px; /* Adjust this value based on your preference */
    }
    iframe {
        width: 100%;  /* This will set the iframe to the full width of its container */
        height: 56.25vw; /* This maintains the 16:9 aspect ratio based on the width. */
    }
    .hero-btn{
        font-size: 13px;
    }
  
}
@media screen and (min-width: 1280px) { /* or whatever min-width makes sense for your layout */
    iframe {
        width: 100%; 
        height:83%
    }
    

}
